table{
    width: 20%;
}

table, td, tr{
    border: 1px solid black;
}

td{
    text-align: center;
}

tfoot{
    color: red;
    background-color: sandybrown;
}

thead{
    background-color: goldenrod;
    color: black;
}

tbody{
    color: black;
    background-color:yellowgreen ;
}