ul{
    list-style-type: square;

}

ol{
    list-style-type: upper-alpha;
}

h1{
    color: crimson;
}

h2{
    color: darkblue;
    font-variant-caps: all-petite-caps;
}

.parrafoizq{
    text-align: left;
}

.parrafoder{
    text-align: right;
}

.parrafojus{
    text-align: justify;
}

.italica{
    font-style: italic;
}

.parrafocenita{
    text-align: center;
    font-style: italic;
}

.bloque1{
    background-color: darkgreen;
    border: solid 5px red;
}

.inline1{
    color: white;
}

.inline2{
    font-size: large;
}