table{
    width: 20%;
}

table, td, tr{
    border: 1px solid black;
}

td{
    text-align: center;
}

tfoot{
    color: black;
    background-color: goldenrod;
}

thead{
    background-color: goldenrod;
    color: black;
}

tbody{
    color: black;
    background-color:yellowgreen ;
}

form{
    background-color: yellowgreen;
    width: 20%;
>>>>>>> Forms
}