<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <title>The Selfish Giant - Administración</title>
</head>
<body>


    <div class="header-index">
            <p class="h4">Hola Admin | Logout </p>
    </div>

    <div class="button-header">
        <button type="button" class="btn btn-dark">Crear</button>
    </div>

    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Banda</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Leisure</td>
            <td>Blur</td>
            <td>Editar - Borrar</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Gorillaz</td>
            <td>Gorillaz</td>
            <td>Editar - Borrar</td>
          </tr>
        </tbody>
      </table>
</body>
</html>