/* GENERAL */
h1{
    font : bold 300% 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center; 
}

h2{
    font : bold 250% 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: white;
    text-align: center; 
}

.div-fondo{
    background-color: brown;
    height: 675px;
    padding-top: 10px;
    margin: -20px -10px 0px -10px;
}

.texto-gral{
    font: 150% 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}

.italic, .home-list:hover{
    font-style: italic;
}

.ulhome{    
    text-align: center;
    background-color: indigo;
    padding: 1%;
    margin: -10px -10px 20px -10px;
}

.home-list{
    display: inline-block;
    color: white;
    font: bold 150% 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
    text-align: center;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
}

.home-img-1{
    width: 150px;
    height: 50px;
    margin: -15px -15px -15px -10px;
    padding-right: 25px;
    display: inline-block;
}

.home-img-2{
    width: 150px;
    height: 50px;
    margin: -15px -15px -15px -10px;
    padding-left: 25px;
    display: inline-block;
}

/* HOME */
.body-home{
    background-image: url(https://images4.alphacoders.com/837/837215.png);
    background-size: 100% 100%;
    background-position: top;
    background-attachment: fixed;
    opacity: 90%;
    height: 600px;
}

.div-intro{
    background-color: white;
    border: 5px black dashed;
    width: 400px;
    height: 400px;
    opacity: 60%;
}

.div-intro-2{
    background-color: gray;
    border: 5px black dashed;
    width: 400px;
    height: auto;
    text-align: center;
}

.boton-intro{
    font: bold 15px 'Segoe UI';
    margin-top: -5px;
}

.texto-intro-1{
    font: bold 200% 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}

.texto-intro-2{
    font: bold 150% 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}

.texto-intro-3{
    font: bold 175% 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}

.texto-personaje{
    font: bold 175% 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin: auto 0px 10px 0px;
    text-align: center;
}

/* CREADORES */
.foto1{
    width: 30%;
    height: 250px;
    margin: 8px;
    float: left;
}

.foto2{
    width: 30%;
    height: 250px;
    margin: 8px;
    float: right;
    clear: both;
}

.texto-creadores{
    font: 150% 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: left;
}

.fondo-creadores{
    background-color: brown;
    padding-top: 10px;
    margin: -20px -10px 0px -10px;
}

/* CURIOSIDADES */
.ul-curios{
    color: white;
    font: bold 22px'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

.div-curios{
    margin-top: 50px;
    width: 90%;
}

/* PERSONAJES */
.div-fondo-pers{
    background-color: brown;
    padding-top: 10px;
    margin: -20px -10px 0px -10px;
}

.nombre-pers{
    height: auto;
    margin-left: 10px;
    text-align: center;
}

.fuente-pers{
    color: white;
    font: bold 40px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: inline;
}

.tabla-pers{
    border: 5px black solid;
    height: 225px;
    margin-bottom: 10px;
}

.img-pers{
    width: 100%;
    height: 225px;
    margin: 0px 0px -5px 0px;
}

.imagen{
    border: 2px black solid;
    float: left;
}

table{
    float: left;
    border: 1px black solid;
    height: 230px;
}

.tabla-head{
    background-color: darkcyan;
    font-weight: bold;
    font-size: 25px;
}

tr{
    color: white;
    background-color: darkslategray;
    font: 25px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

td{
    border: 2.5px black solid;
    text-align: center;
}

.texto-pers{
    text-align: center;
    height: 210px;
}

.desc-pers{
    font: 20px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/* VER ONLINE */
.img-publi-1{
    width: 15%;
    height: 500px;
    margin: -40px 0px 0px 25px;
    border: 5px black solid;
    float: left;
}

.img-publi-2{
    width: 15%;
    height: 522.5px;
    margin: -370px 25px 0px 0px;
    border: 5px black solid;
    float: right;
}

.texto-publi{
    font: bold 150% 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}

.div-enlaces{
    border: 5px black solid;
    width: 50%;
    margin-left: 350px;
    background-color: indigo;
}

.ul-veronline{
    font: bold 125% 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: left;
}

.titulo-serie{
    font: bold 150% 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0px -10px 0px;
}

.link:hover{
    color: black;
}

/* CONTACTO */
.div-form{
    border: 5px black solid;
    width: 50%;
    padding: 10px;
    margin: 0px auto 0px auto;;
    background-color: indigo;
}

form{
    font: bold 100% 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}

.div-contacto{
    background-color: brown;
    padding-top: 10px;
    margin: -20px -10px 0px -10px;
}