/*GENERAL*/
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-size: 535%;
    width: 100%;
    height: 50%;
    text-align: center;
    text-transform: capitalize;
    transform: translate(0%, -35%)
}

p{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 125%;  
}

.bold{
    font-weight: bolder;
    text-transform: capitalize;
    color: black;
}

.italic{
    font-style: italic;
    text-transform: capitalize;
}

.backbodypag{
    background-color: teal;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top right;
    background-attachment: fixed;  
}

.secondarytitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-size: 535%;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    line-height: 30%;
}

/*HOME SECTION*/
.backbody{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Damon_Albarn_mg_6633.jpg/1200px-Damon_Albarn_mg_6633.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top right;
    background-attachment: fixed;
}

.underimage1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-size: 150%;
    width: 50%;
    height: 50%;
    transform: translate(4%, -250%);
    text-shadow:
    -4px -4px 0 #000,  
    4px -4px 0 #000,
    -4px 4px 0 #000,
    4px 4px 0 #000;
}

.list{
    display: inline-block;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    margin: 0% 0.5%;   
}

.list:hover{
    background: rgb(54, 78, 216);
}

.ulhome{
    text-align: center;
    background: midnightblue;
    padding:0.95%;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

#photo0{
    width: 500px;
    height: 350px;
    transform: translate(15%, -20%);
}


/*BIOGRAPHY SECTION*/
.photo1{
    float: left;
    width: 20%;
    margin: 0.5%;
}

.photo1a{
    float: right;
    width: 20%;
    margin: 0.5%;
    clear: both;
}


/*DISCOGRAPHY SECTION*/
.li1:hover, .li1 a:hover{
    color: #000;
}

.subtitles{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-size: 450%;
    width: 100%;
    text-align: left;
    line-height: 30%;
    text-transform: capitalize;
}

.subtitlesalbum{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-size: 400%;
    width: 100%;
    text-align: left;
    line-height: 30%;
    text-transform: capitalize;
}

.photo2{
    width: 20%;
    display: block;
    float: left;
    margin: 1%;
}

.margintextalbum{
    margin: 2%;
    margin-top: 5%;
}

.floatleftalbum{
    float: left;
    height: 40%;
}

/*TABLES*/
thead {
    background-color: rgb(54, 78, 216); ;
    color: white;
  }
  
tbody {
    color: white;
  }

table, td, tr {
    border-collapse: collapse;
    border: 2px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
  }

table{
      width: 20%;
      text-align: center;
      float: left;
      margin: 1%;
  }

/*COLLABS SECTION*/
.collabsubtitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-size: 250%;
    width: 100%;
    text-align: left;
    line-height: 30%;
    text-transform: capitalize;
}

.collablist{
    margin-top: 4%;
}

.list1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px; 
}

/*CONCERT SECTION*/
.liconcert{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;  
}

.aconcert:link{
    text-decoration: none;
    color: #000;
}

.aconcert:visited{
    text-decoration: none;
    color: #000;
}

.aconcert:hover{
   color: skyblue;
}

/*CONTACT SECTION*/
.aligncontact{
    text-align: center;
}

select{
    text-transform: capitalize;
}

input{
    text-transform: capitalize;
}

.mail{
    text-transform: none;
}

.checkbox{
    line-height: 50%;
}