.box1{
    width: 90%;
    height: 30%;
    padding: 5%;
    border: 1%;
    border-style: solid;
    background-color: black;
}

.box2{
    width: 20%;
    height: 50%;
    padding: 5%;
    border: 1%;
    border-style: solid;
    background-color: red;
    float: left;
}

.box3{
    width: 20%;
    height: 50%;
    padding: 3.8%;
    border: 1%;
    border-style: solid;
    background-color: blue;
    float: left;
    display: block;
}

.box4{
    width: 30%;
    height: 50%;
    padding: 5%;
    border: 1%;
    border-style: solid;
    background-color: green;
    clear: both;
}

p{
    color: white;
}